body {
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

p {
 
    color:azure;
    font-size: 20px;
}

h1, h2 {
    color:azure;
    text-align: center;
}

div {
    background-color: black;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

}
.info {
    color: rgb(116, 105, 11);
    width: 10%;
}
.warning {
    background-color: brown;
}
