body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section  {
    margin: 16px;
    padding: 16px;
}
.example {
    width: 200px;
    height: 200px;
    background: steelblue;
    color: bisque;
    display: grid;
    place-items: start center;
}
.parent {
    background: rgb(195, 147, 199);
    height: 200px;
    width: 200px;
}
.child {
    background: rgb(47, 21, 145);
    width: 50%;
    height:50%
}
.example2 {
    width: 200px;
    height: 200px;
    background: rgb(97, 26, 26);
    display: grid;
place-items: center;
}
.example3 {
    width: 50%;
    height: 50%;
    background: lightseagreen;
}